#intro{
    background-color: #E7D2CC;
}

#aboutme{
    background-color: #EEEDE7;
}

#footer{
    background-color: #B9B7BD;
    color: whitesmoke;
}

#copyright{
    background-color: #868B8E;
    color: whitesmoke;
}